:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #191414;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: rgb(153, 153, 153);
    transition: color 0.25s;
}

a:hover {
    color: rgb(112, 112, 112);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 2em;
    line-height: 1.1;
}

h2 {
    font-size: 1.2em;
    line-height: 1.1;
}

h3 {
    color: #888;
    line-height: 1.1;
}

.col-group {
    height: 75%;
    width: 25%;
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em 1em;
    background: inherit;
    border-radius: 15px;
    box-shadow: 8px 8px 10px 1px rgb(10, 10, 10), inset 0 0 2000px rgba(66, 66, 66, 0.301);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.col::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#app {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
}

button {
    display: flex;
    align-items: center;
    height: max-content;
    border-radius: 24px;
    border: none;
    padding: 0.6em 1.2em;
    font-weight: 700;
    font-family: inherit;
    background-color: #1db954;
    cursor: pointer;
    transition: background-color 0.25s;
    color: #191414;
}

button:hover {
    background-color: #0bc84d;
}

button:active {
    background-color: #179b45;
    border: none;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 0.5em;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5em;
    background-color: #191414;
    width: 100%;
    height: fit-content;
    margin: 0.5em;
    box-shadow: 0 0 2px 1px rgb(29, 185, 84, 0.25);
    border-radius: 8px;
    transition: background-color 0.25s;
}

.card:hover {
    background-color: #181818;
}

.img-container {
    height: 75px;
    width: 75px;
    margin-right: .75em;
}

.card img {
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.card-info-layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 1.1em;
    font-weight: 700;
}

.card-subtext {
    font-style: italic;
}

.tag {
    color: #888
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}